.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(244, 244, 248);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarmenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(202, 199, 199);
}

.sidebarList {
  cursor: pointer;
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: red;
  color: white;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.logoutButton {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  float: right;
}
